name: Deploy to ECS

on:
  push:
    branches:
      - main

env:
  AWS_REGION: ca-central-1
  ECR_REPOSITORY: chukka-final-api
  ECS_CLUSTER: chukka-final-cluster
  ECS_SERVICE: chukka-final-service
  TASK_FAMILY: chukka-final-task

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ca-central-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, Tag, and Push Image
        id: build-image
        run: |
          IMAGE_TAG=latest
          ACCOUNT_ID=287526490745
          IMAGE_REPO_URL="$ACCOUNT_ID.dkr.ecr.ca-central-1.amazonaws.com/${ECR_REPOSITORY}"

          echo "Building Docker Image..."
          docker build -t $IMAGE_REPO_URL:$IMAGE_TAG .

          echo "Pushing Image..."
          docker push $IMAGE_REPO_URL:$IMAGE_TAG

          echo "IMAGE_REPO_URL=$IMAGE_REPO_URL:$IMAGE_TAG" >> $GITHUB_ENV

      - name: Render Amazon ECS task definition
        id: task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: taskdef.json
          container-name: chukka-container
          image: ${{ env.IMAGE_REPO_URL }}

      - name: Deploy to Amazon ECS
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ${{ steps.task-def.outputs.task-definition }}
          service: ${{ env.ECS_SERVICE }}
          cluster: ${{ env.ECS_CLUSTER }}
          wait-for-service-stability: true
